.hamburger {
    position: relative;
    display: none;
    height: 21px;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    top: 2px;
    right: 10px;
    cursor: pointer;
    span {
        display: block;
        width: 26px;
        height: 3px;
        background-color: #0B457F;
        border-radius: 3px;
        transition: .5s all;
    }
    span.middle {
        width: 36px;
    }
    &--active {
        span {
            margin-bottom: -5px;
            &:nth-child(1) {
                transform: translateY(3px) rotate(-45deg);
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: translateY(3px) rotate(45deg);
            }
        }
    }
}
